{% extends 'common.html' %}
{% load static %}

{% block head %}
<title>Home</title>
{% endblock %}


  {% block content %}
<div style="width:100%;text-align:center;color:white;">
        <p ><h1>Welcome</h1></p>
        <br><br><br><br><br><hr>
        <p style="font-size: 20px;font-family: cursive;font-style: italic;">Welcome to our website! <br>We are working towards building an exciting solution that allows <br>you to interact with the website based on your current emotions.<br> Our project is aimed towards delivering a wide variety of content to rehabilitation<br> centers and other facilieties that need to moniter their patients emotions closely.<br> The website allows the used to watch random "happy" videos,<br> guide through meditation exercises when scared/anxious,<br> alerts pre-determined members (hospital and family) while sharing <br>their location if they are angry or unresponsive.<br><br> Features like these are designed so that the medical professional or the family can still be alerted when they are not immedietly around the patient.</p>
    </div>  
          
  
{% endblock %} 